.card-container {
  max-width: 500px;
  margin: 50px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px grey;
  transition: 0.5s;
}

.workImage {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.cardContent {
  padding: 0 15px;
}

.projectName {
  font-size: 22px;
  margin-top: 10px;
  color: rgb(45, 179, 244);
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

.projectDescription {
  padding-bottom: 0 !important;
  height: 75px;
}

.cardContent p {
  font-size: 18px;
  margin-top: 15px;
  padding-bottom: 30px;
}

.projectLinks {
  padding-bottom: 10px !important;
  display: flex;
  justify-content: space-between;
  font-size: 0.65rem !important;
}

.projectLinks a:visited {
  color: var(--light-blue);
}

@media screen and (min-width: 1000px) {
  .card-container {
    margin: 20px 40px;
  }
}
